* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
aside h2,
section h3,
form button {
    font-family: 'Chokokutai', cursive;
}

section p,
aside h4,
textarea {
    font-family: 'Roboto', sans-serif;
}

section h2 {
    font-size: 32px;
}

header {
    padding: 16px 0;
    background-color: #1d1d1d;
    color: ghostwhite;
}

header nav li,
aside li {
    display: inline;
}

header nav li a,
aside li a{
    color: ghostwhite;
    text-decoration: none;
    font-size: 20px;
    margin-left: 8px;
}

header nav li a:hover {
    color: #999898;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

#noticias .container img {
    width: 640px;
    padding-bottom: 16px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h3 {
    margin-bottom: 8px;
    margin-left: 16px;
}

section h2,
aside h2,
aside h4 {
    margin-bottom: 16px;
}

section p {
    margin-left: 16px;
    margin-bottom: 8px;
    font-size: 16px;
}

aside .container ul{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

aside .container li{
    color: #1d1d1d;
}


aside img {
    width: 64px;
}

aside  {
    font-size: 16px;
}

#contato .container {
    display: block;
}

.contact-methods {
    display: flex;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 200px;
}

form button {
    border:none;
    cursor: pointer;
}

form button:hover {
    background-color: #999898;
}

input:focus, textarea:focus {
    outline-color: #1d1d1d;
}

footer {
    background-color: #1d1d1d;
    padding: 16px 0;
    color: ghostwhite;
    text-align: center;
}